@{
    ViewData["Title"] = "Bem vindo!";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>
        Nunes Sports é uma loja fictícia especializada em artigos esportivos de alta qualidade,
        situada no coração de São Paulo. Fundada em 2010, a loja rapidamente se tornou um ponto
        de referência para atletas profissionais e amadores. Oferecendo uma ampla gama de produtos, 
        desde equipamentos para futebol, tênis e basquete até roupas de ginástica e acessórios, 
        a Nunes Sports se destaca pelo atendimento personalizado e por parcerias com marcas líderes no mercado esportivo.
        Além disso, a loja promove eventos locais e workshops voltados para a comunidade esportiva.
    </p>
</div>
